body{
    background-color: pink;
    
    font-family: Arial, sans-serif; /* Setting a font */
    padding: 20px; /* Adding some padding for spacing */
}
h1{
    text-align: center;
    color: red;
}
p{
    text-align: center;
    line-height: 1.6;
}
.hh{
    color: red;
}
h2{
    text-align: center;
    color: palevioletred;
}
h3{
    text-align: center;
    text-decoration: underline;
    color: black;
}
strong{
    color: rgb(6, 182, 6);
    font-family:Georgia, 'Times New Roman', Times, serif;
}